<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <div class="card">
                <div class="card-body">

                    <h3 class="text-center my-2">New Password</h3>

                    <form #setPasswordForm="ngForm" (ngSubmit)="onSubmit(setPasswordForm)">

                        <div class="form-group m-4">
                            <input type="password" class="form-control" name="password" placeholder="Enter your password..."
                                   ngModel required #password="ngModel">

                            <div *ngIf="password.invalid && password.touched">
                                <mat-error *ngIf="setPasswordForm.controls.password.hasError('required')">Password must be required!!</mat-error>
                            </div>
                        </div>

                        <div class="text-center my-3">
                            <button class="btn btn-primary" type="submit" [disabled]="setPasswordForm.invalid">Submit</button>
                            <button class="btn btn-warning mx-2" (click)="onClick()" type="button">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



