.row {
    display: flex;
    flex-direction: row;
}

.card {
    display: block;
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 26%;
    width: auto;
    height: auto;
}

a {
    text-decoration: none;
}


