<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center my-2">Forgot Password</h3>

                    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">

                        <div class="form-group m-4">
                            <input type="text" class="form-control" name="email" placeholder="Enter your email..."
                                   ngModel required email #email="ngModel">

                            <div *ngIf="email.invalid && email.touched">
                                <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">Email must be required!!</mat-error>
                                <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('email')">Email must be valid email!!</mat-error>
                            </div>
                        </div>

                        <div class="text-center my-3">
                            <button class="btn btn-primary" type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
                            <button class="btn btn-warning mx-2" (click)="onClick()" type="button">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>