<div class="row">
    <div class="col-xs-12">
        <div class="container my-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-header text-center m-3">Settings</h2>
                
                <div class="container text-center my-5">
                    <mat-list role="list">
                        <mat-list-item role="listitem" class="card-title">
                            <a [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
                        </mat-list-item>
                        
                        <mat-list-item role="listitem" class="card-title">
                            <a [routerLink]="['/new-password']" routerLinkActive="active">New Password</a>
                        </mat-list-item>
                        
                        <mat-list-item role="listitem" class="card-title">
                            <a [routerLink]="['/signUp']" routerLinkActive="active">New Account</a>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

